{% extends "layout.html.twig" %}
{% block content %}
    {% include 'Team/_head.html.twig' with {'organization': team.organization} %}

    <h3>Edit team</h3>

    <div class="container">
        <form method="post" action="{{ path('organization_team_create', {'slug': team.organization.slug}) }}">
            {% include 'Team/_form.html.twig' with {'form': form} %}

            <input type="submit" value="{{ 'gitcolab.form.update'|trans }}" class="btn btn-primary" />
            <a class="btn btn-danger" href="{{ path('organization_team_delete', {'organization': team.organization, 'id': team.id}) }}">
                {{ 'gitcolab.form.delete'|trans }}
            </a>
        </form>
    </div>
{% endblock content %}
