/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/data/repositories/.gitkeep
/build/
/data/
/vendor/
/bin/*
!/bin/server.js
/composer.phar
.idea/
.DS_Store
.vagrant/
gitcolab-shell/
node_modules/
web/vendor
behat.yml
