default:
    autoload:
        'Context': %paths.base%/features
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false

    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Context\FeatureContext

    extensions:
        Behat\MinkExtension:

            # You have probably something like "myproject.dev" instead of "localhost"
            base_url: 'http://localhost:8080/app_test.php'

            goutte: ~
            selenium2: ~
            default_session: goutte
            javascript_session: selenium2

            # Usefull when you use the "And show last response" command
            # You can change it to `firefox %s` or maybe `google_chrome %s`
            show_cmd: firefox %s

            # To set at true if you want to see the error in a browser
            show_auto: false

        Behat\Symfony2Extension: ~
