<div class="pagehead">
    <div class="container">
        <h1 class="col-md-6">
            <a class="org-link js-org-name" href="/tempo-project" data-name="tempo-project">
                <img alt="@tempo-project" class="avatar left" data-user="1522102" height="30" itemprop="image" src="https://avatars3.githubusercontent.com/u/1522102?v=3&amp;s=60" width="30">
                tempo-project
            </a>
        </h1>

        <nav class="pagehead-nav col-md-6" role="navigation">
            <ul class="nav nav-tabs">
                <li><a class="pagehead-nav-item selected" href="{{ path('organization_teams', {'slug': organization.slug}) }}">
                    <span class="octicon octicon-jersey"></span>
                    Teams
                    <span class="counter">{{ organization.teams|length }}</span>
                </a></li>
                <li><a class="pagehead-nav-item " href="/organizations/tempo-project/settings/profile">
                    <span class="octicon octicon-gear"></span>
                    Settings
                </a></li>
        </nav>
    </div>
</div>