parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     gitcolab
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    gitcolab.db_storage: orm
    gitcolab.url: http://gitcolab.local
    gitcolab.repository_path: '%kernel.root_dir%/data/repositories'
    gitcolab.user: git
    gitcolab.ssh_host: ssh.host_example.com

    node_bin: /usr/local/bin/node
    node_modules: '%kernel.root_dir%/../node_modules'
