{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}milestone{% endblock %}
{% block body %}

    {% include '@GitcolabApp/Project/_repo_head.html.twig' %}
    {% include '@GitcolabApp/Tracker/_head.html.twig' %}

    <div class="panel panel-default clearbox">
        <div class="panel-heading">
            <div class=""></div>
            <div class=""></div>
        </div>
        <div class="panel-body">
            {% for milestone in milestones  %}
            <div class="">
                <h2>{{ milestone.name }}</h2>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock body %}