<div class="col-md-3 menu-settings">
    <div class="card">
        <div class="card-header">
            <strong>Settings</strong>
        </div>

        {{ knp_menu_render('user_setting_tabs') }}
    </div>
</div>
