{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}user setting profile{% endblock %}
{% block body %}

    {% include '@GitcolabApp/User/_sidebar.html.twig' %}

    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Account setting
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

{% endblock body %}
