{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}users setting profile{% endblock %}
{% block body %}
    {% include 'GitcolabAppBundle:User:_tabs.html.twig' %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Account setting
        </div>
        <div class="panel-body">

        </div>
    </div>
{% endblock body %}
