{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}user setting profile{% endblock %}
{% block body %}
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Account setting
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Settings</strong>
            </div>
            <div class="panel-body">
                {{ knp_menu_render('user_setting_tabs') }}
            </div>
        </div>
    </div>
{% endblock body %}
