{% extends "GitcolabAppBundle::layout.html.twig" %}
{% block body %}
    {% include 'GitcolabAppBundle:User:_tabs.html.twig' %}
    <div class="panel panel-default">
        <div class="panel-heading">
            SSH Key
        </div>
        <p>This is a list of SSH keys associated with your account. Remove any keys that you do not recognize. </p>
        <div class="panel-body">
            <table>
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for key in keys %}
                    <tr>
                        <td>
                            <div></div>
                            <div>Added on {{ key.createdAt | localizeddate('long', 'none') }} — Last used on {{ key.updatedAt| localizeddate('long', 'none') }} </div>
                        </td>
                        <td>
                            <a class="btn btn-danger"> Delete </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="form-add-key-ssh">
        {{ render(controller('GitcolabAppBundle:Key:create')) }}
    </div>

{% endblock body %}