{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}project show{% endblock %}
{% block body %}
    <div class="col-md-8">
        <div>
            user
        </div>
        <div class="panel-body">

        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="text-grey right" href="/org/shine-d/members"><strong>1</strong></a>
                <strong>People</strong>
            </div>
            <div class="panel-body"></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="text-grey right" href="/org/shine-d/members"><strong>1</strong></a>
                <strong>Team</strong>
            </div>
            <div class="panel-body"></div>
        </div>
    </div>
{% endblock body %}
