<div class="card">
    <div class="card-header">
        Add an SSH Key
    </div>
    <div class="card-block">
        <form action="{{ path('key_create') }}" method="post">
            {{ form_row(form.title) }}
            {{ form_row(form.key) }}


            {{ form_rest(form) }}

            <input type="submit" id="save" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>
