@import "../../../../../../../web/vendor/bootstrap/less/bootstrap.less";
@icon-font-path: "/vendor/bootstrap/fonts/";


.navbar {
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	border: 0;
	border-shadow: 0;
	border-radius: 0;
}
.navbar .navbar-form input {
	height: 27px;
	margin-top: 5px;
}

.subnav-links {
	margin-bottom: 10px;
}
.panel .btn-primary {
	margin-top: 10px;
}

.form-control {
	width: 67%;
}
.form-login {
	width: 400px;
	margin: 60px auto;
}
