<div class="subnav">
    <ul class="nav nav-pills pull-left">
        <li><a href="#" class="first">Issues</a></li>
        <li><a href="#">Pull Requests</a></li>
        <li><a href="#">Label</a></li>
        <li><a href="#" class="last">Milestones</a></li>
    </ul>

    <a class="btn btn-primary pull-right">Add</a>
</div>
