{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}tracker issue show{% endblock %}
{% block body %}
    {% include '@GitcolabApp/Project/_repo_head.html.twig' %}
    {% block content %}
        <div class="container">
            <div class="col-md-8">
                <div class="lead">
                    {% include '@GitcolabApp/Issue/_comment.html.twig' with {'resource': issue} %}
                </div>
                <div class="comments">
                    {% for comment in comments %}
                        {% include '@GitcolabApp/@GitcolabApp/Issue/_comment.html.twig' with {'resource': comment} %}
                    {% endfor %}
                </div>
            </div>
            <div class="discussion-sidebar">
            </div>
        </div>
    {% endblock content %}
{% endblock body %}
