{% extends "GitcolabAppBundle::layout.html.twig" %}

{% block bodyClass %}tracker issue show{% endblock %}
{% block body %}
    <div class="container">
        {% include '@GitcolabApp/Project/_repo_head.html.twig' %}
        <div class="col-md-8">
            <div class="lead">
                {% include '@GitcolabApp/Issue/_comment.html.twig' with {'resource': issue} %}
            </div>
            <div class="comments">
                {% for comment in comments %}
                    {% include '@GitcolabApp/@GitcolabApp/Issue/_comment.html.twig' with {'resource': comment} %}
                {% endfor %}
            </div>
        </div>
        <div class="discussion-sidebar">
        </div>
    </div>


{% endblock body %}