{% extends "layout.html.twig" %}

{% block bodyClass %}user setting profile{% endblock %}
{% block content %}

    {% include 'User/_sidebar.html.twig' %}

    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                Account setting
            </div>
            <div class="card-block">

            </div>
        </div>
    </div>

{% endblock content %}
