{% extends "layout.html.twig" %}

{% block bodyClass %}project settings collaboration{% endblock %}
{% block body %}
    {% include 'Project/_repo_head.html.twig' %}
    {% block content %}
        <div class="container">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <strong>Settings</strong>
                    </div>
                    <ul class="subnav-links list-group list-group-flush">
                        <li class="list-group-item" class="">
                            <a class="active card-link" href="{{ path('project_setting', {'slug': project.fullSlug}) }}">Options</a>
                        </li>
                        <li class="list-group-item">
                            <a class="card-link" href="{{ path('project_setting_collaboration', {'repository': project.fullSlug}) }}">Collaborators</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock content %}
{% endblock body %}
